{% extends "base.html" %}
{% load static %}

{% block title %} Country Picker! {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock stylesheets %}


{% block scriptsheader %}
<script type="text/javascript" src="{% static 'js/home-header.js' %}"></script>

{% endblock scriptsheader %}


{% block content %}
<div class="countrySelectorContainer" id="countrySelectorContainer">
    <form method="POST" id="formId"autocomplete="off">{% csrf_token %}
        <label for="capitalAnswer"><p>What is the Capital of {{ randomCountry }}?</p></label>
        <input type="text" id="capitalAnswer" name="capitalAnswer">
        <input type="text" id="countryQuestion" name="countryQuestion" value="{{ randomCountry }}" hidden>
        <button class="capitalAnswerSubmit" type="submit" id="capitalAnswerSubmit">Submit</button>
    </form>
</div>



<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock content %}